.App {
  margin-top: 0px;
}
.pdf {
  margin-top: 145px;
  width: auto;
  height: 842px;
}
.vignette {
  left: 14px;
  position: absolute;
  width: 165px;
  height: 110px;
  top: 77px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
.cartouche {
  background-color: #212529;
  left: 193px;
  position: absolute;
  width: 561px;
  height: 110px;
  top: 77px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  text-align: left;
  padding-left: 14px;
  padding-top: 5px;
}
.col-sm-3 {
  color: #808080;
}
.col-sm-9 {
  color: #ed756c;
}
.transport {
  border-radius: 10px;
  margin-top: -60px;
  background-color: #212529;
  padding: 10px;
  width: 740px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
.btn-lg {
  margin-left: 10px;
  margin-right: 10px;
}
.play {
  background-color: #ede26c;
}
.precedent {
  background-color: #6c72ed;
}
.stop {
  background-color: #ed756c;
}
.suivant {
  background-color: #6ced8a;
}
